/* Reseteo CSS*/
* {
    margin: 0;
    padding: 0;
    font-family: "Glory", sans-serif;
    font-size: 1.1rem;
}

/*** Selectores comunes a todos los documentos del sitio ***/
nav {
    background-color: #0c88eb;
}

section {
    padding: 25px 0;
}

.bordes__negros {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dropdown-menu {
    background-color: #0c88eb;
    position: absolute;
    left: auto !important;
    right: -15px;
}

.nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-link:hover{
    color: black!important;
}

.fondoSeccion {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.encabezado {
    display: flex;
    justify-content: space-between;
}

.titulo__seccion {
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}

.encabezado__contenedorLogo {
    width: 150px;
}

.encabezado__logo {
    width: 100%;
}

.encabezado__enlaces {
    display: flex;
    justify-content: space-between;
}

.encabezado__grupoEnlaces {
    margin-left: 50px;
}

.encabezado__button {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.encabezado__button:hover {
    color: black;
}

/* Menú lateral */
#enlacesNavLateral, #enlacesLoginLateral {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#enlacesLoginLateral li {
    display: flex;
    justify-content: center;
    border: 1px solid #0c88eb;
}

#enlacesLoginLateral .dropdown-menu {
    border: 1px solid #0c88eb;
}


.encabezado__menu-lateral {
    background-color: #0c88eb;
    width: 250px; 
}
.encabezado__menu-lateral a {
    text-align: center;
}

.encabezado__menu-lateral .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado__grupoEnlacesLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado__grupoEnlacesLateral button {
    margin-bottom: 10px;
    width: 100%;
}
/**/

.cerrarSesion__button {
    display: block;
    text-align: center;
    background-color: #0c88eb;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cerrarSesion__button:hover {
    color: black;
}

.piePagina {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0c88eb;
    color: #ffffff;
    font-size: 1rem;
}

.piePagina__contenido {
    justify-content: center;
    align-items: center;
}

.piePagina__seccion {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.piePagina__texto {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    font-weight: bold;
    text-align: center;
}

.piePagina__redes {
    justify-content: center;
}

.piePagina__contenedorRedSocial {
    width: 80px;
}

.piePagina__contenedorLogo {
    width: 60%;
    margin: 0 auto;
}

/*** Selectores para seccion de Inicio ***/
.botonIndex {
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.5s;
    display: block;
    width: 50%;
}

.botonIndex:hover {
    font-weight: bold;
    color: white;
    transform: scale(1.2,1.2);
}

.fondoIndex {
    background-image: url(../images/fondos/index.jpg);
    display: flex;
    height: 100vh;
}

.fondoIndex__contenedor {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    padding-top: 20vh;
    align-items: center;
    color: #ffa500;
}

.fondoIndex__titulo {
    font-size: 6rem;
    -webkit-text-stroke-width: 7px;
    letter-spacing: -5px;
    text-align: center;
}

.fondoIndex__slogan {
    font-size: 3rem;
    -webkit-text-stroke-width: 4px;
    letter-spacing: -2px;
    text-align: center;
}

.fondoIndex__titulo, .fondoIndex__slogan {
    -webkit-text-stroke-color: #000000;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

/* Estilos para sección de Cotizaciones en Index*/
.cotizacionesIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cotizacionesIndex p {
    margin: 0 auto;
    padding: 10px;
}

.cotizacionesIndex__titulo {
    text-align: center;
    font-size: 2.5rem;
}

.cotizacionesIndex__contenedor {
    display: flex;
    justify-content: center;
}

.cotizacionesIndex__contenedorBoton {
    margin: 0 auto;
}

.cotizacionesIndex__link {
    color: white;
    background-color: #0c88eb;
}

/* Estilos para sección 'Gestioná tus activos' en Index */
.opcionesIndex {
    background-color: #0c88eb;
    text-align: center;
}

.opcionesIndex__titulo {
    color: white;
}

.opcionesIndex__texto {
    text-align: center;
    font-weight: bold;
}

.opcionesIndex__nota {
    font-weight: bold;
    font-size: 1rem;
}

.opciones__contenedor {
    justify-content: center;
    margin: 0 auto;
}

.opcion {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
    border-radius: 10px;
    padding: 10px;
}

.opcion__contenedorImagen {
    background-color: #0c88eb;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.opcion__imagen {
    width: 60%;
}

.opcion__titulo {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.opcion__texto {
    text-align: center;
}

/* Estilos para sección 'Comenzá ya!' en Index */
.registroIndex {
    text-align: center;
}

.registroIndex__imagen {
    width: 100%;
    height: 100%;
    border: solid 2px black;
}

.registroIndex__contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registroIndex__titulo {
    font-weight: bold;
    margin: 10px 0;
}

.registroIndex__texto {
    margin: 10px 0;
}

.registroIndex__link {
    color: white;
    background-color: black;
}

.registroIndex .row div {
    margin-top: 25px;
}

/*** Selectores para seccion 'Cotizaciones' ***/
.cotizaciones__info{
    padding: 15vh 0 0 0;
    text-align: center;
}

.cotizaciones__info .row {
    justify-content: center;
}

/* Estilo para cotizacion de criptomoneda */
.cotizacionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d6d8da;
    border: 2px solid black;
    border-radius: 5%;
    margin: 5px;
    padding: 8px 0;
    font-weight: bold;
}
.cotizacionesIndex__contenedor .container .row {
    justify-content: center;
}

.cotizacionIndex__moneda {
    font-size: 20px;
    margin: 10px 0;
}

.cotizacionIndex__logo {
    width: 75px;
    margin: 10px 0;
}

.cotizacionIndex__precio {
    margin: 10px 0;
}

/*** Selectores para seccion 'Mis activos' ***/
.activos__titulo {
    text-align: center;
}

.activos__subtitulo {
    font-style: italic;
    text-align: start;
}


#balance {
    padding: 20px 0 10px 0;
}

#balance .row {
    margin: 0 auto;
}

#billetera {
    padding-top: 15vh;
}

.balance__activos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.balance__activos .activos__subtitulo {
    padding-left: 10px;
}

#saldo__total {
    width: 100%;
}

#listaSaldos {
    justify-content: center;
}

#listaSaldos .activos__subtitulo {
    padding-left: 20px;
}

.saldo {
    width: 47.5%;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 70px;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(75, 168, 205);
    font-size: 20px;
}

.saldo__info {
    width: 30%;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saldo__monto {
    text-align: end;
    width: 70%;
    padding: 20px 10px;
    font-weight: bold;
}

.saldo__imagen {
    max-width: 50px;
}

.saldo__imagen img {
    width: 100%;
}

.saldo__moneda {
    width: 70%;
    text-align: left;
    margin-left: 10px;
}

.saldo__nombre {
    font-size: 20px;
    font-weight: bold;
}

.saldo__sigla {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

#saldo__combo {
    background-color: rgb(75, 168, 205);
    border: none;
    color: black;
    font-weight: bold;
}

#saldo__combo:focus-visible { 
    outline: none;
}

/*** Selectores para seccion 'Mis movimientos' ***/

#movimientos {
    padding-top: 15vh;
}

.movimientos__header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.movimientos__titulo {
    text-align: center;
    font-weight: bold;
}

.movimientos__agregar, .movimientos__filtros {
    border: 1px solid #0c88eb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    background-color: #0c88eb;
    color: white;
    font-weight: bold;
}

.movimientos__boton {
    margin: 10px;
    width: 40px;
}

.movimientos__agregar button {
    border-radius: 100%;
    padding: 0;
    background-color: white;
    border: 2px solid black;
}

.movimientos__agregar button:focus{
    box-shadow: none;
}

.movimientos__agregar img {
    width: 100%;
}

.movimientos__filtros {
    flex-direction: column;
    padding: 5px;
    text-align: left;
}

.movimientos__filtros select {
    background-color: #0c88eb;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 2px;
}

.movimientos__filtros select:focus-visible {
    outline: none;
}

.movimientos__seleccionFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movimientos__logoFiltro {
    width: 25px;
    margin: 3px;
}

.movimientos__logoFiltro img {
    width: 100%;
}

.movimientos__vacio {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: #0c88eb;
    border-radius: 10px;
    color: white;
    padding: 5px 0;
}

.cantidad__contenedor {
    background-color: #0c88eb;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cantidad__contenedor select {
    margin: 0 10px;
    font-weight: bold;
    background-color: #0c88eb;
    color: white;
    border: none;
}

.cantidad__contenedor select:focus-visible {
    outline: none;
}

.movimiento__contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(75, 168, 205);
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

.movimiento__contenedor-light {
    background-color: #d6d8da;
}

.movimiento__contenedor-normal {
    background-color: #c1c3c4;
}

.movimiento__operacion {
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.movimiento__imagenOperacion {
    border: 1px solid black;
    border-radius: 100%;
    padding: 7px;
    width: 40%;
}

.movimiento__imagenOperacion img {
    width: 100%;
}

.movimiento__tipoOperacion {
    font-weight: bold;
}

.movimiento__compra {
    background-color: rgb(18, 135, 18);
}

.movimiento__venta {
    background-color: rgb(186, 23, 23);
}

.movimiento__moneda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
}

.movimiento__moneda div {
    padding-right: 8px;
}

.movimiento__imagenMoneda {
    width: 40px;
}

.movimiento__imagenMoneda img {
    width: 100%;
}

.movimiento__nombreMoneda {
    font-weight: bold;
}

.movimiento__fecha {
    text-align: center;
    font-weight: bold;
    width: 10%;
}

.movimiento__unidades {
    width: 10%;
    text-align: left;
    font-weight: bold;
}

.movimiento__precio {
    width: 10%;
    text-align: left;
    font-weight: bold;
}

.movimiento__eliminar {
    padding: 10px;
}

.movimiento__eliminar button:focus{
    box-shadow: none;
}

.movimiento__deleteButton {
    border-radius: 10px;
    width: 60px;
}

.movimiento__deleteIcon {
    width: 100%;
}

.paginador__contenedor {
    display: flex;
    margin: 15px auto 0 auto;
    justify-content: space-between;
    padding: 0;
    margin-top: 15px;
}

#paginaAnteriorButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#paginaSiguienteButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.paginador__contenedor button {
    background-color: #0c88eb;
    color: white;
    font-weight: bold;
    border: 2px solid black;
}

.paginador__contenedor button.paginador__deshabilitado {
    opacity: 0.5;
}

.paginador__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
}

.paginador__info p {
    margin: 0;
}

.paginador__info p span {
    font-weight: bold;
}

/* Form de carga de movmiento */
.modal-content {
    background-color: #0c88eb;
    color: white;
    border: 1px solid black;
}

.modalForm__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.modalForm__titulo {
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

.modalForm__contenido {
    width: 90%;
    margin: 0 auto;
}

.modalForm__campos {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.modalForm__campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.modalForm__campo select, .modalForm__campo input {
    width: 50%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
}

.modalForm__campo select:focus-visible {
    outline: none;
}

.modalForm__boton {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.modalForm__boton button {
    background-color: black;
    border: 1px solid #0c88eb;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
    font-weight: bold;
}

.modalForm__texto {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.modalForm__advertencia {
    display: block;
    color: red;
    font-weight: bold;
    font-style: italic;
    background-color: black;
    padding: 5px 0;
    width: 90%;
    border-radius: 10px;
    margin: 10px auto;
}

/*** Selectores para seccion 'Registrarme' ***/
.fondoRegistro {
    background-image: url(../images/fondos/registro.jpg);
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.registro__contenedor, .login__contenedor {
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#registro__form, #login__form {
    margin: 50px auto;
}

.registro__contenedorLogo, .login__contenedorLogo {
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.registro__logo, .login__logo {
    margin: 10px auto;
    width: 55%;
}

#password__icon {
    width: 8%;
}

#form-password  {
    width: 90%;
    display: inline;
}

.registro__submitContenedor, .login__submitContenedor {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#registro__submit, #login__submit {
    margin: 0 auto;
}

.formInputs {
    margin: 20px auto;   
}

.formInput__contenedor {
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 5px auto;
    padding: 0;
}

.formInput {
    border: none;
    border-radius: 0;
    margin-right: 0;
    width: 100%;
}

.formInput:focus {
    box-shadow: none;
    background-color: whie;
}

#mensajeAlerta {
    display: block;
    padding: 3px 20px; 
    margin-bottom: 15px;
    border-radius: 20px;
    width: 100%; 
    color: white;
    opacity: 0; 
    font-weight: bold;
}

/*** Selectores para sección 'Login' ***/
.fondoLogin {
    background-image: url(../images/fondos/login.jpg);
    display: flex;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

/*************************/

#listaCotizaciones {
    justify-content: center;
    margin-bottom: 50px;
}

.cotizacion__header {
    background-color: #0c88eb;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-weight: bold;
}

.cotizacion__grupoTitulos {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.cotizacion__precios {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.cotizacion__precios div {
    width: 50%;
    font-weight: bold;
    text-align: left;
    padding-left: 13%;
}

.cotizacion__contenedor {
    border: 1px solid black;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cotizacion__contenedor-light {
    background-color: #d6d8da;
}

.cotizacion__contenedor-normal {
    background-color: #c1c3c4;
}

.cotizacion__info {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    margin-left: 15%;
}

.cotizacion__titulo {
    display: flex;
}

.cotizacion__logo {
    width: 50px;
    margin-right: 5%;
}

.cotizacion__logo img {
    width: 100%;
    margin: 0 auto;
}

.cotizacion__nombre {
    text-align: left;
}

.cotizacion__moneda {
    font-weight: bold;
}

.cotizacion__sigla {
    font-size: 13px;
}

.cotizacion__usd {
    color: rgb(12, 112, 12);
}

.cotizacion__ars {
    color: #1f4ed3;
}

