/* Reseteo CSS*/
html {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0c88eb;
}

.dropdown-menu {
    background-color: #0c88eb;
    position: absolute;
    left: auto !important;
    right: -15px;
}

.nav-link {
    color: white !important;
    font-weight: bold;
}

.nav-link:hover{
    color: black!important;
}

/*** Selectores comunes a todos los documentos del sitio ***/
.fondoSeccion {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.encabezado {
    display: flex;
    justify-content: space-between;
}

.encabezado__contenedorLogo {
    width: 150px;
}

.encabezado__logo {
    width: 100%;
}

.encabezado__enlaces {
    display: flex;
    justify-content: space-between;
}

.encabezado__grupoEnlaces {
    margin-left: 50px;
}

.encabezado__button {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.encabezado__button:hover {
    color: black;
}

#cerrarSesion__button {
    background-color: #0c88eb;
    color: white;
    font-weight: bold;
}

#cerrarSesion__button:hover {
    color: black;
}


.piePagina {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0c88eb;
    color: #ffffff;
    font-size: 1rem;
}

.piePagina__contenido {
    justify-content: center;
    align-items: center;
}

.piePagina__seccion {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.piePagina__texto {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    font-weight: bold;
    text-align: center;
}

.piePagina__redes {
    justify-content: center;
}

.piePagina__contenedorRedSocial {
    width: 80px;
}

.piePagina__contenedorLogo {
    width: 60%;
    margin: 0 auto;
}

/*** Selectores para seccion de Inicio ***/
.botonIndex {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 5px 3px;
    border-radius: 10px;
}

.fondoIndex {
    background-image: url(../images/fondos/index.jpg);
    display: flex;
}

.fondoIndex__contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items:flex-end;
    color: #ffcc3b;
}

.fondoIndex__titulo {
    font-size: 4rem;
}

.fondoIndex__slogan {
    font-size: 2rem;
}

/* Estilos para sección de Cotizaciones en Index*/
.cotizacionesIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.cotizacionesIndex p {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.cotizacionesIndex__titulo {
    text-align: center;
    font-size: 2.5rem;
}

.cotizacionesIndex__contenedor {
    display: flex;
    justify-content: center;
}

.cotizacionesIndex__link {
    color: white;
    background-color: #0c88eb;
    width: 20%;
}

/* Estilos para sección 'Gestioná tus activos' en Index */
.opcionesIndex {
    background-color: #0c88eb;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.opcionesIndex__titulo {
    color: white;
}

.opcionesIndex__texto {
    width: 70%;
    margin: 0 auto;
}

.opciones__contenedor {
    display: flex;
    justify-content: center;
}

.opcion {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.opcion__contenedorImagen {
    background-color: #0c88eb;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcion__imagen {
    width: 60%;
}

.opcion__titulo {
    font-weight: bold;
}

.opcion__texto {
    width: 80%;
}

/* Estilos para sección 'Comenzá ya!' en Index */
.registroIndex {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.registroIndex__imagen {
    width: 100%;
    height: 100%;
    border: solid 2px black;
}

.registroIndex__contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registroIndex__titulo {
    font-weight: bold;
}

.registroIndex__texto {
    width: 80%;
}

.registroIndex__link {
    color: white;
    background-color: black;
    width: 33%;
}

/*** Selectores para seccion 'Cotizaciones' ***/
.cotizaciones__info{
    margin: 60px 0 20px 0;
    text-align: center;
}

/* Estilo para cotizacion de criptomoneda */
.cotizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 165, 161);
    border: 2px solid black;
    border-radius: 5%;
    margin: 5px;
}

.cotizacion__moneda {
    font-size: 20px;
}

.cotizacion__logo {
    width: 100px;
}

.cotizacion__precio {
    font-weight: bold;
}

/*** Selectores para seccion 'Mis activos' ***/
#billetera {
    margin: 20px auto;
}

.saldo {
    margin: 1px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    text-align: center;
    background-color: skyblue;
    font-size: 20px;
}

/*** Selectores para seccion 'Mis movimientos' ***/
.movimientos__header {
    display: flex; 
    justify-content: space-between;
}

.movimientos__vacio {
    padding-left: 15px;
}

.movimiento__container {
    width: 90%;
    margin: 5px auto;
    border: 2px solid black;
    background-color: #0dcaf0;
    display: flex;
    justify-content: space-between;
}

.movimiento {
    color: black;
    font-size: 25px;
}

.movimiento__deleteButton {
    background-color: #0dcaf0;
    border: solid 2px black;
    border-radius: 10%;
}

.movimiento__deleteIcon {
    width: 50px;
}

#movimientos {
    background-color: white;
}


/*** Selectores para seccion 'Registrarme' ***/
.fondoRegistro {
    background-image: url(../images/fondos/registro.jpg);
    display: flex;
    padding-top: 100px;
}

.registro__contenedor, .login__contenedor {
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
}

#registro__form, #login__form {
    margin: 50px auto;
}

.registro__contenedorLogo, .login__contenedorLogo {
    display: flex;   
    flex-direction: column;
    align-items: center;
}

.registro__logo, .login__logo {
    margin: 10px auto;
    width: 55%;
}

#password__icon {
    width: 8%;
}

#form-password  {
    width: 90%;
    display: inline;
}

.registro__submitContenedor, .login__submitContenedor {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

#registro-submit {
    margin: 0 auto;
}

.formInputs {
    margin: 20px auto;   
}

.formInput__contenedor {
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 5px auto;
    padding: 0;
}

.formInput {
    border: none;
    border-radius: 0;
    margin-right: 0;
    width: 100%;
}

.formInput:focus {
    box-shadow: none;
    background-color: whie;
}

#mensajeAlerta {
    display: block;
    padding: 3px 20px; 
    margin-bottom: 15px;
    border-radius: 20px;
    width: 100%; 
    color: white; 
    font-weight: bold;
}

/*** Selectores para sección 'Login' ***/
.fondoLogin {
    background-image: url(../images/fondos/login.jpg);
    display: flex;
    padding-top: 100px;
}